:root{
	--foreground:#fff;
	--background: #000;
	--background2: #000;
}
.verticallist{
	display: flex;
	flex-flow: column;
}
.vlitem{
	
}
#nowplaying_title{
	font-weight: bold;
}
#nowplaying_artist{
	font-style:italic;
}

.columns{
	display: flex;
	flex-flow: wrap
}

@media screen and (max-width: 600px) {
	.columns {
		flex-direction: vertical;
	}

	.column{
		flex-grow: 1;
		flex-basis: 0;
	}
}

.column{
	flex-grow: 1;
	flex-basis: 0;
}

#nowplaying_art{
	width:60px;
	height:60px;
}
.nowplaying{
	background: linear-gradient(to top, var(--background2), var(--background));
	box-shadow: 0px 10px 20px 0px var(--background2);
	position:sticky;
	top:0;
	display:flex;
	-webkit-app-region: drag;
}
.nowplaying > *{
	-webkit-app-region: no-drag;
}
.icon{
	width:20px;
	height:20px;
}
body{
	background-color:var(--background2);
	color:var(--foreground);
	padding: 0;
	margin: 0;
	font-family:sans-serif;
	user-select: none;
}
#nowplaying_lyrics{
	user-select: text;
}
body > div{
	padding: 20px;
}
::-webkit-scrollbar {
	width: 4px;
	background: var(--background);
}
::-webkit-scrollbar-thumb {
	background: var(--foreground);
}
input{
	background-color: var(--background);
	color: var(--foreground);
	border: 2px solid var(--foreground);
	border-radius: 2px;
}
ul{
	padding-left: 0;
}
li{
	list-style-type: none;
}
li.playing{
	background-color: var(--background);
}
li:hover{
	background-color: var(--track-foreground);
	color: var(--track-background);
	cursor: pointer;
}
.icon{
	visibility: hidden;
}
li:hover > .icon{
	visibility: visible;
}
li > a{
	color:inherit;
	text-decoration: none;
}
.menubtn{
	width:40px;
	height:40px;
}
.menupath{
	fill: var(--foreground);
}
.btnplay{
	display:none;
}
.btnpause{
	display:none;
}
#playpause.play > .btnplay{display:block;}
#playpause:not(.play) > .btnpause{display:block;}
button{
	background-color:transparent;
	border:none;
}
.loading{
	animation: spinner 1s ease-in-out 0 infinite forwards;
}
@keyframes spinner {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.skipback{
	transform: rotate(180deg);
}