{
	"presets": [
		"@babel/preset-typescript",
		["env", {
			"targets": {
				"browsers": ">10%"
			}
		}]
	],
	"plugins": [
		"transform-inline-scss",
		"babel-plugin-transform-es2015-modules-commonjs"
	]
}
