doctype html
html
	head
		meta(charset='UTF-8')
		meta(http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self'; media-src 'self'; img-src 'self' data:")
		link(rel="stylesheet", href="css/index.css")
		title Hello World!
	body
		.nowplaying#nowplaying
			img#nowplaying_art(src="...")
			button#previous
				<svg class="menubtn skipback" height="100%" version="1.1" viewBox="0 0 36 36" width="100%"><path class="menupath" d="M 12,24 20.5,18 12,12 V 24 z M 22,12 v 12 h 2 V 12 h -2 z"></path></svg>
			button#playpause
				<svg class="menubtn btnplay" height="100%" version="1.1" viewBox="0 0 36 36" width="100%"><path class="menupath" d="M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z"></path></svg>
				<svg class="menubtn btnpause" height="100%" version="1.1" viewBox="0 0 36 36" width="100%"><path class="menupath" d="M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z"></path></svg>
			button#skip
				<svg class="menubtn skipfwd" height="100%" version="1.1" viewBox="0 0 36 36" width="100%"></use><path class="menupath" d="M 12,24 20.5,18 12,12 V 24 z M 22,12 v 12 h 2 V 12 h -2 z"></path></svg>
			.verticallist
				span.vlitem#nowplaying_title ...
				span.vlitem#nowplaying_artist ...
				span.vlitem#nowplaying_filename ...
			audio#nowplaying_audio(src="...")
		.columns
			.column
				input#search(type='text', placeholder='Search...')
				ul#songlist ...
			.column
				p#nowplaying_lyrics ...
		script(src="renderer.js")
